* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inheri;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: local("../fonts/Montserrat Black"), local("../fonts/Montserrat-Black"), url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.eot");
  src: local("Nunito Sans SemiBold"), local("../fonts/NunitoSans-SemiBold"), url("../fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("../fonts/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.eot");
  src: local("Nunito Sans Bold"), local("../fonts/NunitoSans-Bold"), url("../fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Bold.woff2") format("woff2"), url("../fonts/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-LightItalic.eot");
  src: local("Nunito Sans Light Italic"), local("../fonts/NunitoSans-LightItalic"), url("../fonts/NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-LightItalic.woff2") format("woff2"), url("../fonts/NunitoSans-LightItalic.woff") format("woff"), url("../fonts/NunitoSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.eot");
  src: local("Nunito Sans Regular"), local("../fonts/NunitoSans-Regular"), url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
}

body {
  font-family: "Nunito Sans";
  font-weight: bold;
  background: #f2f2f2;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.cart__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #c7a17a;
}

.cart__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151d28;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__buttons button {
  width: 134px;
  height: 32px;
  background-color: #c7a17a;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #f9fbff;
}

.cart__buttons a {
  font-weight: 700;
  font-size: 16px;
  color: #415167;
}

.slider__button-right, .slider__button-left {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #c7a17a;
  border-radius: 50%;
  opacity: 0.3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider__button-right::before, .slider__button-left::before {
  content: "";
  width: 24px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__button-right:hover, .slider__button-left:hover {
  opacity: 1;
}

.slider__button-right:after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg) translate(-70%, 0);
      -ms-transform: rotate(45deg) translate(-70%, 0);
          transform: rotate(45deg) translate(-70%, 0);
  top: 50%;
  right: 6px;
}

.slider__button-left:after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(225deg) translate(0, 68%);
      -ms-transform: rotate(225deg) translate(0, 68%);
          transform: rotate(225deg) translate(0, 68%);
  top: 50%;
  left: 6px;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
}

h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #415167;
}

h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  background: #f2f2f2;
}

.header {
  max-width: 100%;
  min-height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header__whitebg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27.57%;
          flex: 0 1 27.57%;
}

.header__bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.28%;
          flex: 0 0 49.28%;
  height: 100%;
  overflow: hidden;
}

.header__bg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  min-width: 100%;
  height: 100%;
}

.header__menu {
  position: relative;
  margin: 0;
  padding: 72px 0 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.15%;
          flex: 0 1 23.15%;
  width: 100%;
  background-color: #415167;
}

.header__menu__menu-list {
  padding: 0 10px 0 0;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto 0;
}

.header__menu li {
  margin: 30px 0 0 0;
}

.header__menu li a {
  color: #edf0f5;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.header__menu li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.header__cart {
  position: relative;
  width: 24px;
  height: 24px;
}

.header__title {
  position: absolute;
  left: 9.28%;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title span {
  padding: 0 15px;
}

.header__title h1:nth-child(2) span {
  color: #edf0f5;
  background-color: #c7a17a;
}

.header__title h1:first-child span,
.header__title h1:last-child span {
  background-color: #f2f2f2;
}

.header__burger {
  display: none;
  position: relative;
  width: 28px;
  height: 22px;
  -webkit-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
}

.header__burger div {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  left: 0;
}

.header__burger div:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__burger div:first-child {
  bottom: 0;
}

.header__burger.active div:first-child {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

.header__burger.active div:nth-child(2) {
  visibility: hidden;
}

.header__burger.active div:last-child {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0, 50%);
      -ms-transform: rotate(-45deg) translate(0, 50%);
          transform: rotate(-45deg) translate(0, 50%);
}

.logo {
  position: absolute;
  left: 9.28%;
  top: 72px;
}

.logo__number-goots {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c7a17a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  right: -10px;
}

.features {
  margin: 87px 148px 0;
}

.features__subtitle {
  text-align: center;
}

.features__title {
  margin: 9px 0 0 0;
  text-align: center;
}

.features__block {
  margin: 72px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20.47%;
          flex: 0 0 20.47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__pictures {
  width: 80px;
  height: 80px;
}

.cart__pictures img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__title {
  margin: 42px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
}

.cart__text {
  margin: 12px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #151d28;
}

.favorite {
  position: relative;
  margin: 128px 0 0 0;
  height: 894px;
  padding: 90px 0 0 0;
}

.favorite__subtitle {
  text-align: center;
}

.favorite__title {
  margin: 6px 0 0 0;
  text-align: center;
}

.favorite__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 27.43%;
  height: 100%;
  background-color: #415167;
}

.favorite__slider-wrapper {
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
  margin: 72px 0 0 0;
}

.favorite__right-button {
  top: 58.5%;
  right: 80px;
  z-index: 10;
}

.favorite__left-button {
  z-index: 10;
  top: 58.5%;
  left: 80px;
}

.favorite__cart {
  width: 559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
          filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
}

.favorite__cart-img {
  background-color: #979797;
}

.favorite__cart-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.favorite__cart-info {
  background-color: #fff;
  width: 100%;
  padding: 42px;
}

.favorite__cart-title {
  margin: 8px 0 0 0;
}

.favorite__cart-text {
  margin: 24px 0 0 0;
  text-align: start;
}

.favorite__cart-buttons {
  margin: 18px 0 0 0;
}

.favorite__slider-line {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  height: 544px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 256px 256px;
      grid-template-rows: 256px 256px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  row-gap: 32px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  left: 130px;
  top: 0;
  z-index: 2;
  --slow: 0.7s;
  -webkit-transition: var(--slow);
  -o-transition: var(--slow);
  transition: var(--slow);
  --positionX: 0px;
  -webkit-transform: translateX(var(--positionX));
      -ms-transform: translateX(var(--positionX));
          transform: translateX(var(--positionX));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
      touch-action: none;
}

.giftset {
  z-index: 1;
  position: relative;
  padding: 88px 0 125px 0;
}

.giftset__subtitle {
  text-align: center;
}

.giftset__title {
  margin: 6px 0 0 0;
  text-align: center;
}

.giftset__bg {
  background-color: #edf0f5;
  height: 100%;
  width: 72.57%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.giftset__content {
  margin: 66px 134px 0 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 463px;
}

.giftset__cart-bg {
  -webkit-box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
          box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  background-color: #fff;
  width: 75.62%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.giftset__cart-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  -o-object-fit: contain;
     object-fit: contain;
}

.giftset__cart-img img {
  max-width: 100%;
}

.giftset__carts {
  width: 100%;
  position: relative;
}

.giftset__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  max-height: 100%;
  z-index: -1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

.giftset__cart.active {
  opacity: 1;
  z-index: 0;
}

.giftset__cart-content {
  padding: 5%;
  max-height: 100%;
}

.giftset__cart-title {
  margin: 12px 0 0 0;
}

.giftset__cart-text {
  position: relative;
  margin: 12px 0 0 0;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.giftset__cart-fulltext {
  padding: 5px;
  position: absolute;
  top: -17px;
  left: -5px;
  width: calc(100% + 7px);
  background-color: #fff;
  text-align: start;
  opacity: 0;
  z-index: -1;
}

.giftset__cart-fulltext.show {
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 1;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 10px 3px #ccc;
          box-shadow: 0px 0px 10px 3px #ccc;
}

.giftset__cart-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.giftset__cart-button-block {
  margin: 46px 0 0 0;
}

.giftset__cart-button-block a {
  margin: 0 auto;
}

.giftset__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: stretch;
}

.giftset__button {
  cursor: pointer;
  background-color: #edf0f5;
  width: 88px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: #415167;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.giftset__button.active {
  opacity: 1;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
          box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
}

.property__block {
  margin: 24px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.property__text {
  font-weight: 600;
  font-size: 16px;
  color: #415167;
}

.property__text p:first-child {
  font-weight: 300;
}

.combo {
  position: relative;
  padding: 88px 0 128px 0;
}

.combo__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 27.43%;
  height: 100%;
  background-color: #415167;
}

.combo__subtitle {
  text-align: center;
}

.combo__title {
  margin: 6px 0 0 0;
  text-align: center;
}

.combo__carts {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 64px 0 0 0;
}

.combo__cart-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  left: 128px;
  gap: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  --slow: 0.7s;
  -webkit-transition: var(--slow);
  -o-transition: var(--slow);
  transition: var(--slow);
  --positionX: 0px;
  -webkit-transform: translateX(var(--positionX));
      -ms-transform: translateX(var(--positionX));
          transform: translateX(var(--positionX));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
      touch-action: none;
}

.combo__cart {
  background-color: #fff;
  width: 360px;
}

.combo__cart-img {
  -o-object-fit: contain;
     object-fit: contain;
}

.combo__cart-content {
  padding: 42px;
}

.combo__cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combo__old-price {
  margin: 0 0 0 20px;
  text-decoration: line-through;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 14px;
  color: #415167;
}

.combo__cart-title {
  margin: 9px 0 0 0;
}

.combo__cart-text {
  text-align: left;
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  overflow: hidden;
}

.combo__cart-button-block {
  margin: 32px 0 0 0;
}

.combo__button-right {
  top: 45%;
  right: 66px;
}

.combo__button-left {
  top: 45%;
  left: 66px;
}

.temp {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #415167;
}

@media (max-width: 1024px) {
  .header {
    min-height: auto;
    height: 500px;
  }
  .header__menu li {
    margin: 15px 0 0 0;
  }
  .header h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .giftset__cart-bg {
    width: 100%;
  }
  .giftset__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .giftset__carts {
    min-height: 420px;
  }
  .giftset__button-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .giftset__button {
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }
}

@media (max-width: 768px) {
  .logo {
    top: 20px;
    background-color: #f2f2f2;
  }
  .header {
    height: 300px;
  }
  .header h1 {
    font-size: 25px;
  }
  .header__menu {
    position: static;
    padding-top: 20px;
    padding-left: 4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__burger {
    position: relative;
    margin: 0 10px 0 25px;
    display: block;
    z-index: 11;
  }
  .header__menu-list {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #415167;
    margin: 0;
    padding: 50px 0 20px 0;
    height: 100vh;
    width: 100vw;
  }
  .header__menu-list li {
    margin: 35px 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0;
  }
  .header__menu-list li a {
    font-size: 20px;
  }
  .header__menu-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    z-index: 10;
  }
  .features {
    margin: 87px 20px 0;
  }
  .features__block {
    margin: 20px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart:not(:first-child) {
    margin: 30px 0 0 0;
  }
  .cart__title {
    margin: 10px 0 0 0;
  }
  .cart__text {
    margin: 0;
  }
  .favorite {
    height: 700px;
    margin: 40px 0 0 0;
  }
  .favorite__slider-wrapper {
    margin: 0 0 0 0;
  }
  .favorite__cart-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .favorite__cart-img img {
    min-width: 100%;
  }
  .favorite__bg {
    display: none;
  }
  .favorite__slider-wrapper {
    height: 100%;
  }
  .favorite__slider-line {
    height: 100%;
    left: 20px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    justify-items: stretch;
  }
  .favorite__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: auto;
  }
  .favorite__cart-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: end;
    margin-top: auto;
  }
  .favorite__cart-info {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .favorite__cart-info a {
    margin: 10px 0 0 0;
  }
  .favorite__cart-title {
    text-align: center;
  }
  .favorite__cart-text {
    margin: 20px 0 0 0;
  }
  .favorite__right-button {
    top: 66.5%;
    right: 10px;
  }
  .favorite__left-button {
    top: 66.5%;
    left: 10px;
  }
  .giftset__content {
    margin: 30px 10px 0;
  }
  .giftset__cart-property {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .giftset__cart-property div:last-child {
    margin: 5px 0 0 0;
  }
  .giftset__cart-content {
    padding: 3%;
  }
  .giftset__cart-button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 0;
  }
  .giftset__cart-button-block a {
    margin: 10px 0 0 0;
  }
  .combo__bg {
    display: none;
  }
  .combo__carts {
    margin: 20px 0 0 0;
  }
  .combo__cart-line {
    left: 35px;
  }
  .combo__button-right {
    top: 47%;
    right: 10px;
  }
  .combo__button-left {
    top: 47%;
    left: 10px;
  }
}

@media (max-width: 424px) {
  .combo__cart-line {
    left: 10px;
  }
}

@media (max-width: 375px) {
  .header__title {
    left: 3%;
  }
  .logo {
    left: 3%;
  }
  .combo__cart {
    width: 300px;
  }
  .combo__cart-button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .combo__cart-button-block a {
    margin: 10px 0 0 0;
  }
}
