@import "res.scss";
@font-face {
   font-family: "Montserrat";
   src: url("Montserrat-Black.eot");
   src: local("Montserrat Black"), local("Montserrat-Black"),
      url("Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("Montserrat-Black.woff2") format("woff2"),
      url("Montserrat-Black.woff") format("woff"), url("Montserrat-Black.ttf") format("truetype");
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: "Nunito Sans";
   src: url("NunitoSans-SemiBold.eot");
   src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"),
      url("NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"),
      url("NunitoSans-SemiBold.woff2") format("woff2"), url("NunitoSans-SemiBold.woff") format("woff"),
      url("NunitoSans-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "Nunito Sans";
   src: url("NunitoSans-Bold.eot");
   src: local("Nunito Sans Bold"), local("NunitoSans-Bold"),
      url("NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("NunitoSans-Bold.woff2") format("woff2"),
      url("NunitoSans-Bold.woff") format("woff"), url("NunitoSans-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Nunito Sans";
   src: url("NunitoSans-LightItalic.eot");
   src: local("Nunito Sans Light Italic"), local("NunitoSans-LightItalic"),
      url("NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("NunitoSans-LightItalic.woff2") format("woff2"), url("NunitoSans-LightItalic.woff") format("woff"),
      url("NunitoSans-LightItalic.ttf") format("truetype");
   font-weight: 300;
   font-style: italic;
}
@font-face {
   font-family: "Nunito Sans";
   src: url("NunitoSans-Regular.eot");
   src: local("Nunito Sans Regular"), local("NunitoSans-Regular"),
      url("NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("NunitoSans-Regular.woff2") format("woff2"),
      url("NunitoSans-Regular.woff") format("woff"), url("NunitoSans-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: "Nunito Sans";
}

///////////////////////////////////////////////
